<%- include("partials/links") -%>


<div class="section" id="about">
    <div class="container">
      <div class="content-section">
        <div class="title">
          <h1>About Us</h1>
        </div>
        <div class="content">
          <h3>We as a team brings the concept of digital city to you where we'll emphasis more on everday problem in the life of people.
            The proposed system is an user friendly website where the problem information
            like waste management can be uploaded easily and it has the registration ,user can
            register in and post the problem and he can also be able to see newly launched
            governments websites and able to pay the bills and taxes.
            In the proposed system the citizen need not go to the government office for getting
            his problem solved. He can get his problem solved by posting his problem on this
            App and website. 
            we as a team are also helping government which focusses on improving quality of life by integrating technology with
            the built environment.
          You can know more about our project. Click on 'Read More' </p>
             <div class="button">
            <a href="https://smartcities.gov.in/">Read More</a>
          </div>
        </div>
        <div class="social">
          <a href=""><i class="fab fa-facebook-f"></i></a>
          <a href=""><i class="fab fa-twitter"></i></a>
          <a href=""><i class="fab fa-instagram"></i></a>
        </div>
      </div>
      <div class="image-section">
        <img src="">
      </div>
    </div>
  </div>
  
  
  
  
      
  
    <h1 id="members">Meet our team members</h1>
   <div class="container"> 
       <div class="row">
    <div class="card col mb-20" style="width: 18rem;">
        <img src="../images/img1.jpg" class="card-img-top" alt="..." height="225px">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">APP Frontent Developer </p><br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Prathamesh Aldar</li>
          <li class="list-group-item"> </li>
          <li class="list-group-item">Contact No : 9075605406</li>
        </ul>
        <div class="card-body">
          <a href="https://www.linkedin.com/in/aldar-prathamesh-555989230" class="card-link"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/prathameshaldar/" class="card-link"><i class="fab fa-instagram"></i></i></a>
        </div>
      </div>
  
  
  
      <div class="card col mb-20" style="width: 18rem;">
        <img src="../images/img2.jpg" class="card-img-top" alt="..." height="225px">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">App Developer and resource management</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            Alhussian Shaikh
          </li>
          <li class="list-group-item"></li>
          <li class="list-group-item">Contact No : 9990345117</li>
        </ul>
        <div class="card-body">
          <a href="https://www.linkedin.com/in/al-hussain-shaikh-033729231" class="card-link"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/alhussain_shaikh_04/" class="card-link"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
  
  
      <div class="card col mb-20" style="width: 18rem;">
        <img src="../images/img4.jpg" class="card-img-top" alt="..." height="225px">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">Website frontend Development and app developer</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Akshay Jadhav</li>
          <li class="list-group-item"></li>
          <li class="list-group-item">Contact No : 9607881400</li>
        </ul>
        <div class="card-body">
          <a href="https://www.linkedin.com/in/akshay-jadhav-9009671b0" class="card-link"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/akshayjadhav_2702/" class="card-link"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
  
  
      <div class="card col mb-20" style="width: 18rem;">
        <img src="../images/img3.jpg" class="card-img-top" alt="..." height="225px">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">website frontend developer</p><br>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"> Pratham Alekar</li>
          <li class="list-group-item"></li>
          <li class="list-group-item">Contact No : 7715912564 </li>
        </ul>
        <div class="card-body">
          <a href="https://www.linkedin.com/in/pratham-alekar-276052232" class="card-link"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/pratham_alekar/" class="card-link"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
  
  
      <div class="card col mb-20" style="width: 18rem;">
        <img src="../images/img5.jpg" class="card-img-top" alt=" ..." height="225px">
        <div class="card-body">
          <h5 class="card-title"></h5>
          <p class="card-text">App backend developement and Web devoloper</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Soham Akotkar</li>
          <li class="list-group-item"></li>
          <li class="list-group-item">Contact No : 8605106823</li>
        </ul>
        <div class="card-body">
          <a href="www.linkedin.com/in/soham-akotkar-a8b949230" class="card-link"><i class="fab fa-linkedin"></i></a>
          <a href="https://www.instagram.com/soham.akotkar/" class="card-link"><i class="fab fa-instagram"></i></a>
        </div>
      </div>
  </div>
  </div>
  
  