<%- include("partials/links") -%>




<form action="/loginadmin" method="post">
    <div class="container-fluid login">


    <h1 class="h3 mb-3 fw-normal"> Login for Admin</h1> 


    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" name="email" required placeholder="name@example.com" autocomplete="off">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="floatingPassword" name="adminkey" required placeholder="Admin key" autocomplete="off">
      <label for="floatingPassword">Admin Key</label>
    </div>

    <%  if(message.length > 0) { %>
       <p class="errmsg">  <%= message %> </p>
      <% } %>

<!-- 
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->
    <button class="w-100 login-submit btn btn-lg btn-primary" type="submit">Login</button>
</div>
  </form>