<%- include("partials/links") -%>

<h3 style="text-align: center; margin: 15px;">ONE STOP SOLUTION FOR GOVERNMENT WEBSITES</h3>

    <div class="mainbox container-fluid">
        <div class="box">
            <img src="https://doi.maharashtra.gov.in/Images/maharashtralogo.jpg" alt="" height="200px" width="231px">
            <br>
            <div class="boxlink"> <a href="https://www.maharashtra.gov.in/1125/Home " title="Go to Maharashtra website"
                    target="blank">Maharashtra Government</a> </div>
        </div>

        <div class="box">
            <img src="https://www.mumbailive.com/images/media/images/images_1568181505051_state_p_k_a_201811154964.png?bg=fbfbfb&crop=242%2C209%2Cnull%2C0&fit=fill&fitToScale=h%2C1368%2C768&fm=webp&h=606.3157894736842&height=209&w=1080&width=242"
                alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://public.msrtcors.com/ticket_booking/index.php"
                    title="Bus ticket booking" target="blank">MSRTC</a> </div>
        </div>

        <div class="box">
            <img src="https://www.miotinternational.com/wp-content/uploads/2021/07/cowin-logo.jpg" alt="" height="200px"
                width="231px"> <br>
            <div class="boxlink"> <a href="https://www.cowin.gov.in/" title="covid certificate" target="blank">Cowin</a>
            </div>
        </div>

        <div class="box">
            <img src="https://www.deccanherald.com/sites/dh/files/styles/article_detail/public/articleimages/2020/07/25/irctc-1595679107.jpg?itok=RAcsLXYG
            " alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://www.irctc.co.in/nget/train-search" title="Railway ticket booking" target="blank">IRCTC</a> </div>
        </div>


        <div class="box">
            <img src="https://1000logos.net/wp-content/uploads/2020/09/Air-India-logo.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://www.airindia.in/" title="plane ticket booking" target="blank">AIR INDIA</a> </div>
        </div>
    </div>


<!-- documents redirected  -->

    <div class="mainbox container-fluid">
        <div class="box">
            <img src="https://i.pinimg.com/originals/aa/34/53/aa34538b884a1103e9cf82bbd52cfad7.jpg            " alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://uidai.gov.in/" title="Aadhar Card" target="blank">UIDAI</a> </div>
        </div>

        <div class="box">
            <img src="https://5.imimg.com/data5/LS/IP/AU/SELLER-34249015/nsdl-pan-card-distributorship-500x500.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://www.onlineservices.nsdl.com/paam/endUserRegisterContact.html" title="PAN Card" target="blank">NSDL</a> </div>
        </div>
        <div class="box">
            <img src="http://nriachievers.in/wp-content/uploads/2017/04/passport.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://www.passportindia.gov.in/AppOnlineProject/welcomeLink" title="Apply for passport" target="blank">Passport</a> </div>
        </div>
        <div class="box">
            <img src="https://images.indianexpress.com/2016/08/birth-and-death-registration-759.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://www.india.gov.in/application-form-birth-certificate-maharashtra
                " title="Download Birth certificate" target="blank">Birth certificate</a> </div>
        </div>

        <div class="box">
            <img src="https://pmmodiyojanaonline.in/wp-content/uploads/2021/04/Vahan-Parivahan-.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://parivahan.gov.in/parivahan/" title="Driving license" target="blank">Parivahan seva</a> </div>
        </div>
    </div>


    <div class="mainbox container-fluid">
        <div class="box">
            <img src="https://1000logos.net/wp-content/uploads/2021/08/LIC-Logo.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://licindia.in/" title="Life insurance" target="blank">LIC</a> </div>
        </div>

        <div class="box">
            <img src="https://freehindidesign.com/wp-content/uploads/2021/07/HP-gas-logo-png.jpg            " alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://myhpgas.in/myHPGas/Index.aspx" title="Book your HP GAS" target="blank">HP GAS</a> </div>
        </div>

        <div class="box">
            <img src="https://content3.jdmagicbox.com/comp/nashik/w2/0253px253.x253.170208225429.s7w2/catalogue/ved-bharat-gas-nampur-nampur-nashik-issfims3mt.jpg?clr=2d4620" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://my.ebharatgas.com/bharatgas/Home/Index" title="Book BHARAT GAS" target="blank">BHARAT GAS</a> </div>
        </div>

        <div class="box">
            <img src="https://iocl.com/images/static/indianoil_logo.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://iocl.com/" title="Petrochemical" target="blank">Indian OIL</a> </div>
        </div>

        <div class="box">
            <img src="https://image.winudf.com/v2/image/bWFoYXJhc2h0cmE3MTIubWFoYXJhc2h0cmE4YS5TYWF0MTJNYWhhcmFzaHRyYS5NYWhhcmFzaHRyYTdCYWFyYVV0YXJhX3NjcmVlbl8wXzE1MTM4Mjc1MjBfMDMy/screen-0.jpg?fakeurl=1&type=.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://bhulekh.mahabhumi.gov.in/" title="7 12 UTARA" target="blank">7 12</a> </div>
        </div>
    </div>


    <div class="mainbox container-fluid">
        <div class="box">
            <img src="https://vajiramandravi.s3.us-east-1.amazonaws.com/media/2018/12/18/10/56/14/8.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://scholarships.gov.in/" title="Know about scholarships" target="blank">Scolarship</a> </div>
        </div>
        <div class="box">
            <img src="https://career.webindia123.com/career/options/images/vidyalakshmi.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://www.vidyalakshmi.co.in/Students/" title="Get Education loan" target="blank">vidyalakshmi</a> </div>
        </div>
        <div class="box">
            <img src="https://blog.ipleaders.in/wp-content/uploads/2016/08/Reserve-Bank-of-India-RBI-Logo.jpg" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://www.rbi.org.in/" title="Reserved Bank Of India" target="blank">RBI</a> </div>
        </div>
        <div class="box">
            <img src="https://lh3.googleusercontent.com/OzPfzcDLxxGgrOl49N5Lqo0_e5GJ194esrP_BOEJy5x_uFv0KZglpnBriAxmSyABpBk" alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="http://wss.mahadiscom.in/wss/wss?uiActionName=getViewPayBill" title="Pay your Electricity bill" target="blank">Electricity Bill</a> </div>
        </div>
        <div class="box">
            <img src="https://www.orderuganda.com/images/logos/ugnws.jpg
            " alt="" height="200px" width="231px"> <br>
            <div class="boxlink"> <a href="https://mjp.maharashtra.gov.in/en/water-bill-payment" title="Pay your Water bill" target="blank">Water Bill</a> </div>
        </div>
    </div>