<%- include("partials/links") -%>



<form action="/logincitizen" method="post">
    <div class="container-fluid login">


    <h1 class="h3 mb-3 fw-normal"> Login for Citizen</h1> 


    <div class="form-floating">
      <input type="email" class="form-control" id="floatingInput" name="email" placeholder="name@example.com" autocomplete="off">
      <label for="floatingInput">Email address</label>
    </div>
    <div class="form-floating">
      <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Admin key" autocomplete="off">
      <label for="floatingPassword">Password</label>
    </div>

    <a href="/changepassword" style="text-decoration: none;">Forget Password </a><br><br>

    <!-- <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Remember me
      </label>
    </div> -->

    <%  if(message.length > 0) { %>
      <p class="errmsg">
        <%= message %>
      </p>
      <% } %>

    <button class="w-100 login-submit btn btn-lg btn-primary" type="submit">Login</button>
</div>
  </form>