<%- include("partials/links") -%>


<div class=" section-gap"></div>
      <div class="wrapper">
        <h4 class="sub-title text-center">Find us</h4>
        <h3 class="global-title text-center">Contact us</h3>
        <div class="d-grid contact-view">
          <div class="cont-details">


            <div class="cont-top">

              <div class="cont-left text-center">
                <span class="fa fa-phone text-primary"></span>
              </div>

              <div class="cont-right">
                <h6>Call Us</h6>
                <p><a href="#">+123 45 67 89</a></p>
              </div>

            </div>


            <div class="cont-top margin-up">

              <div class="cont-left text-center">
                <span class="fa fa-envelope-o text-primary"></span>
              </div>
              <div class="cont-right">
                <h6>Email Us</h6>
                <p><a href="mailto:digicity@vit.edu" class="mail">digicity@vit.edu</a></p>
              </div>
              
            </div>


            <div class="cont-top margin-up">
              <div class="cont-left text-center">
                <span class="fa fa-map-marker text-primary"></span>
              </div>
              <div class="cont-right">
                <h6>Address</h6>
                <p>Vishwakarma institute of technology , pune</p>
              </div>
            </div>
          </div>
		</div>
	</div>
    <br><br>

	<div class="contact-map">
	
		
			"<iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d60551.0751906808!2d73.83318407201418!3d18.46361868507652!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x3bc2ea950f616219%3A0x321bdae2cea9f064!2sVishwakarma%20Institute%20of%20Technology%2C%20Upper%20Market%20Road%2C%20Upper%20Indira%20Nagar%2C%20Bibwewadi%2C%20Pune%2C%20Maharashtra!3m2!1d18.4636219!2d73.8682037!5e0!3m2!1sen!2sin!4v1647419116111!5m2!1sen!2sin" width="600px" height="280px" frameborder="0" style="border:0;"   allowfullscreen="" aria-hidden="false" tabindex="0" ></iframe>
        </div>
		
  </div>        