<%- include("partials/links") -%>

<form action="/gov" method="post">

<button type="submit" value="pune" name="govCity">Pune</button>
<button type="submit" value="mumbai" name="govCity">Mumbai</button>
<button type="submit" value="nashik" name="govCity">Nashik</button>
<button type="submit" value="banglore" name="govCity">Banglore</button>
<button type="submit" value="amravati" name="govCity">Amravati</button>
<button type="submit" value="sangali" name="govCity">Sangali</button>

</form>