<!-- navbar of website -->

  <div class="header">
    <div class="header-img">
      <img src="https://smartcity.eletsonline.com/wp-content/uploads/2017/01/Smart-City-Logo.jpg" alt="logo" height="160px" width="350px">
  </div>

  <div class="links">
    <div class="dropdown">
      <a class="dropdown-toggle head-link" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
       <h5> LOGIN </h5>
      </a>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <li><a class="dropdown-item li-link" href="/login">Login</a></li>
        <li><a class="dropdown-item li-link" href="/register">Register</a></li>
      </ul>
    </div>
    <a href="/" class="head-link"><h5>HOME</h3></h5>
      <div class="dropdown">
        <a class="dropdown-toggle head-link" href="#" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="true">
         <h5> SERVICES </h5>
        </a>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <li><a class="dropdown-item li-link" href="login">Government websites</a></li>
          <li><a class="dropdown-item li-link" href="login">Waste management</a></li>
          <li><a class="dropdown-item li-link" href="login">Grievance</a></li>
        </ul>
      </div>
    <a href="/about" class="head-link"><h5>ABOUT US</h5></a>
    <a href="/contact" class="head-link"><h5>CONTACT US</h5></a>
  </div>
  </div>

  <!-- after navigation -->

  <div class="middle">
    <div class="info">
    <h1>Building cities </h1>
    <h3>that delivers future</h3> <br>
    <h3> World moving towards Digitalisation <br> We are helping to shape tommorrow cities and future of the cities .</h3>
  </div>

  <img src="https://upload.wikimedia.org/wikipedia/commons/b/be/Official_portrait_of_the_Prime_Minister_Narendra_Modi%2C_November_2020_%28cropped%29.jpg" id="modi" height="400px" width="400px" alt="" data-aos="slide-down">
  
  <div class="info2">
    <h6>DIGITALIZATION IS THE ESSENTIAL KEY THAT UNLOCKS SOLUTIONS AND OPPORTUNITIES</h6>
    
    <h2>The Atlas of Digitalization examines the digital readiness and potential of cities around the world. This serves as a useful indicator of how technology is being embraced, and how much value can still be realized.</h2>
  </div>

  </div>

  <!-- features section -->

  <div class="row circle-section">
    <div class="col-lg-4" data-aos="zoom-in">
     <img src="https://images.unsplash.com/photo-1477959858617-67f85cf4f1df?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1244&q=80" alt="waste" height="170px" width="300px">

      <h2>Waste Management</h2>
      <p>In addition, to improve the performance further in the solid waste management category effective steps have been taken by the government. Take part in this Initiative .</p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
    <div class="col-lg-4" data-aos="zoom-in">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ-m5CmPc57E6UGhSPTzn6u32zP20FfDoWykQ&usqp=CAU" alt="bill" height="170px">

      <h2>Government Websites</h2>
      <p>One stop solution for all type of government websites . <br> Get all your bills paid here with Secured connection and without any charges  </p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div>
    <div class="col-lg-4" data-aos="zoom-in">
      <img src="https://cdn.pixabay.com/photo/2019/06/30/21/25/smart-4308821_960_720.jpg" alt="" width="300px" height="170px">

      <h2>Raise Grievances </h2>
      <p> You can raise any grievances of any type <br> our team will always there for answering your grievances and queries , so feel free to ask your queries  </p>
      <p><a class="btn btn-secondary" href="#">View details »</a></p>
    </div><!-- /.col-lg-4 -->
  </div>


 
  

<!-- hero full screen at bottom -->
  <div class="bg-light text-secondary px-4 py-5 text-center">
    <div class="py-5" data-aos="zoom-in">
      <h1 class="display-5 fw-bold ">Smart city Initiative</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">In addition, to improve the performance further in the solid waste management category effective steps have been taken by the government. Some of the measures taken include funding of SWM projects, issuance of directions, advisories and guidelines on SWM (door-to-door collection, source segregation and processing), organising capacity building (CB) workshops, reviewing performance periodically.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button type="button" class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold">Visit</button>
          <button type="button" class="btn btn-outline-dark btn-lg px-4">Initiatives</button>
        </div>
      </div>
    </div>
  </div>


<%- include("partials/links") -%>

<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init({
    offset:200,
    duration : 2000
  });
</script>
